body {
    background-color:#dad5d5;
}

.nav-link {
    color: black;
    transition: letter-spacing .3s;
    font-size: 1.2em;
}

.nav-link:hover {
    
    color: #19CA8E;
    letter-spacing: .5em;
}
/* 
.nav-link:active{ 
    color:#ff5c5c;
} */

h1,h2,h3,h4,h5 {
    font-family:Garamond;
}