@import url('https://fonts.googleapis.com/css?family=Lato:700|Raleway:400,700,900');

body {
    background-color:#e3dfdf;
}

.nav-link {
    color: black;
    transition: letter-spacing .3s;
}

.nav-link:hover {
    
    color: #19CA8E;
    letter-spacing: .5em;
}
/* 
.nav-link:active{ 
    color:#ff5c5c;
} */

h1,h2,h3,h4,h5 {
    font-family: 'Lato', sans-serif;
}

li {
    font-family: 'Raleway', sans-serif;
}

.title {
    color: #5e6ad5;
    border-bottom: 1px solid #5e6ad5;
}
.about {
    background-color: white;
    width: 100%;
}