.repo-btn {
   background-color: white; 
   color: black;
   border: 1px solid #19CA8E;
   text-decoration: none;
}

.repo-btn:hover{
    background-color: #19CA8E;
    color:black;
}
a {
    text-decoration: none;
}

.card-title {
    border: none;
}

.media {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #5e6ad5;
}